.h1{
    font-size: 25px;
    padding: 1em 0em 0em 0em;
    letter-spacing: 4px;
    font-weight: 700;
}
.btn-primary{
    background-color: #e58900; 
    border-color: #e58900;

}
.btn-primary , .btn-dark{
    margin: 0.6em;
    padding: 0.7em;
}
.btn{

    font-weight: 600;
    font-size: 13px;
}
.btn-primary:hover{
    background-color: #b86e00;
    border-color:  #b86e00;
}